.register{
    margin: 0px auto;
    width:40%;
}
.register-img{
    height: 80px;
    display: grid;
    place-items: center;
}
.register-form{
    padding: 10px;
    border: none;
box-shadow: 3px 5px 7px 5px lightgray;
}